In [10]:
from supabase import create_client, Client
import os

supabase_url = os.getenv("SUPABASE_URL")
supabase_key = os.getenv("SUPABASE_KEY")

supabase: Client = create_client(supabase_url, supabase_key)

In [11]:
import pandas as pd

In [12]:
response = (
    supabase.table("Payments")
    .select("*")
    .csv()
    .execute()
)

In [13]:
response.data

'id,created_at,uuid,quantity,price,purchase_date,tags\n5957,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,3,2025-04-01,"{еда,молочные}"\n5958,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-01,"{еда,хлебобулочные}"\n5959,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,3,2,2025-04-02,"{фрукты,съедобное}"\n5960,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,3,2025-04-03,"{еда,молочные}"\n5961,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,1,2025-04-04,"{еда,хлебобулочные}"\n5962,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,5,2,2025-04-05,"{фрукты,съедобное}"\n5963,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,5,2025-04-06,"{еда,молочные}"\n5964,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,10,1,2025-04-07,"{овощи,съедобное}"\n5965,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,6,2025-04-08,"{еда,напитки}"\n5966,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,3,3,2025-04-09,"{еда,молочные}"\n5967,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-04,"{еда,хлебобулочные}"\n5968,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,4,2,2025-04-11,"{фрукты,съедобное}"\n5969,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,5,2025-04-12,"{еда,молочные}"\n5970,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,5,1,2025-04-13,"{овощи,съедобное}"\n5971,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,6,2025-04-14,"{еда,напитки}"\n5972,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,3,2025-04-15,"{еда,молочные}"\n5973,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,3,1,2025-04-16,"{еда,хлебобулочные}"\n5974,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,5,2,2025-04-17,"{фрукты,съедобное}"\n5975,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,5,2025-04-18,"{еда,молочные}"\n5976,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,8,1,2025-04-19,"{овощи,съедобное}"\n5977,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,6,2025-04-20,"{еда,напитки}"\n5978,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,3,2025-04-21,"{еда,молочные}"\n5979,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,1,2025-04-22,"{еда,хлебобулочные}"\n5980,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,6,2,2025-04-23,"{фрукты,съедобное}"\n5981,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,2,5,2025-04-24,"{еда,молочные}"\n5982,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,6,1,2025-04-25,"{овощи,съедобное}"\n5983,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,3,6,2025-04-26,"{еда,напитки}"\n5984,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,3,3,2025-04-27,"{еда,молочные}"\n5985,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-28,"{еда,хлебобулочные}"\n5986,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,4,2,2025-04-29,"{фрукты,съедобное}"\n5987,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,1,5,2025-04-30,"{еда,молочные}"\n5988,"2025-04-13 08:04:23.336906+00",47823327-2b0f-48c8-9513-614c3ab5d61a,7,1,2025-04-30,"{овощи,съедобное}"'

In [14]:
from io import StringIO

In [15]:
df = pd.read_csv(StringIO(response.data), index_col=0, parse_dates=['purchase_date'])
df.drop(columns=['created_at'], inplace=True)
df

,uuid,quantity,price,purchase_date,tags
id,,,,,
5957,47823327-2b0f-48c8-9513-614c3ab5d61a,2,3,2025-04-01,"{еда,молочные}"
5958,47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-01,"{еда,хлебобулочные}"
5959,47823327-2b0f-48c8-9513-614c3ab5d61a,3,2,2025-04-02,"{фрукты,съедобное}"
5960,47823327-2b0f-48c8-9513-614c3ab5d61a,1,3,2025-04-03,"{еда,молочные}"
5961,47823327-2b0f-48c8-9513-614c3ab5d61a,2,1,2025-04-04,"{еда,хлебобулочные}"
5962,47823327-2b0f-48c8-9513-614c3ab5d61a,5,2,2025-04-05,"{фрукты,съедобное}"
5963,47823327-2b0f-48c8-9513-614c3ab5d61a,1,5,2025-04-06,"{еда,молочные}"
5964,47823327-2b0f-48c8-9513-614c3ab5d61a,10,1,2025-04-07,"{овощи,съедобное}"
5965,47823327-2b0f-48c8-9513-614c3ab5d61a,1,6,2025-04-08,"{еда,напитки}"
5966,47823327-2b0f-48c8-9513-614c3ab5d61a,3,3,2025-04-09,"{еда,молочные}"
5967,47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-04,"{еда,хлебобулочные}"
5968,47823327-2b0f-48c8-9513-614c3ab5d61a,4,2,2025-04-11,"{фрукты,съедобное}"
5969,47823327-2b0f-48c8-9513-614c3ab5d61a,2,5,2025-04-12,"{еда,молочные}"
5970,47823327-2b0f-48c8-9513-614c3ab5d61a,5,1,2025-04-13,"{овощи,съедобное}"
5971,47823327-2b0f-48c8-9513-614c3ab5d61a,2,6,2025-04-14,"{еда,напитки}"
5972,47823327-2b0f-48c8-9513-614c3ab5d61a,1,3,2025-04-15,"{еда,молочные}"
5973,47823327-2b0f-48c8-9513-614c3ab5d61a,3,1,2025-04-16,"{еда,хлебобулочные}"
5974,47823327-2b0f-48c8-9513-614c3ab5d61a,5,2,2025-04-17,"{фрукты,съедобное}"
5975,47823327-2b0f-48c8-9513-614c3ab5d61a,1,5,2025-04-18,"{еда,молочные}"
5976,47823327-2b0f-48c8-9513-614c3ab5d61a,8,1,2025-04-19,"{овощи,съедобное}"
5977,47823327-2b0f-48c8-9513-614c3ab5d61a,1,6,2025-04-20,"{еда,напитки}"
5978,47823327-2b0f-48c8-9513-614c3ab5d61a,2,3,2025-04-21,"{еда,молочные}"
5979,47823327-2b0f-48c8-9513-614c3ab5d61a,2,1,2025-04-22,"{еда,хлебобулочные}"
5980,47823327-2b0f-48c8-9513-614c3ab5d61a,6,2,2025-04-23,"{фрукты,съедобное}"
5981,47823327-2b0f-48c8-9513-614c3ab5d61a,2,5,2025-04-24,"{еда,молочные}"
5982,47823327-2b0f-48c8-9513-614c3ab5d61a,6,1,2025-04-25,"{овощи,съедобное}"
5983,47823327-2b0f-48c8-9513-614c3ab5d61a,3,6,2025-04-26,"{еда,напитки}"
5984,47823327-2b0f-48c8-9513-614c3ab5d61a,3,3,2025-04-27,"{еда,молочные}"
5985,47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-28,"{еда,хлебобулочные}"
5986,47823327-2b0f-48c8-9513-614c3ab5d61a,4,2,2025-04-29,"{фрукты,съедобное}"
5987,47823327-2b0f-48c8-9513-614c3ab5d61a,1,5,2025-04-30,"{еда,молочные}"
5988,47823327-2b0f-48c8-9513-614c3ab5d61a,7,1,2025-04-30,"{овощи,съедобное}"

In [16]:
df.dtypes

uuid                     object
quantity                  int64
price                     int64
purchase_date    datetime64[ns]
tags                     object
dtype: object

In [17]:
test_uuid = "47823327-2b0f-48c8-9513-614c3ab5d61a"

In [18]:
tmp = df[df['uuid'] == test_uuid][['product_name', 'quantity', 'price', 'purchase_date']]
tmp = tmp.groupby(['product_name', 'purchase_date']).sum().reset_index().sort_values(by='purchase_date')

tmp

KeyError: "['product_name'] not in index"

In [ ]:
tmp['purchase_date'].unique().tolist()

[Timestamp('2025-04-01 00:00:00'),
 Timestamp('2025-04-02 00:00:00'),
 Timestamp('2025-04-03 00:00:00'),
 Timestamp('2025-04-04 00:00:00'),
 Timestamp('2025-04-05 00:00:00'),
 Timestamp('2025-04-06 00:00:00'),
 Timestamp('2025-04-07 00:00:00'),
 Timestamp('2025-04-08 00:00:00'),
 Timestamp('2025-04-09 00:00:00'),
 Timestamp('2025-04-11 00:00:00'),
 Timestamp('2025-04-12 00:00:00'),
 Timestamp('2025-04-13 00:00:00'),
 Timestamp('2025-04-14 00:00:00'),
 Timestamp('2025-04-15 00:00:00'),
 Timestamp('2025-04-16 00:00:00'),
 Timestamp('2025-04-17 00:00:00'),
 Timestamp('2025-04-18 00:00:00'),
 Timestamp('2025-04-19 00:00:00'),
 Timestamp('2025-04-20 00:00:00'),
 Timestamp('2025-04-21 00:00:00'),
 Timestamp('2025-04-22 00:00:00'),
 Timestamp('2025-04-23 00:00:00'),
 Timestamp('2025-04-24 00:00:00'),
 Timestamp('2025-04-25 00:00:00'),
 Timestamp('2025-04-26 00:00:00'),
 Timestamp('2025-04-27 00:00:00'),
 Timestamp('2025-04-28 00:00:00'),
 Timestamp('2025-04-29 00:00:00'),
 Timestamp('2025-04-30 00:00:00')]

In [ ]:
import pandas as pd
import json

# Предположим, что tmp уже существует
# tmp = df[df['uuid'] == test_uuid][['product_name', 'quantity', 'price', 'purchase_date']]
# tmp = tmp.groupby(['product_name', 'purchase_date']).sum()

# Сброс индекса, чтобы сделать product_name и purchase_date обычными колонками
tmp_reset = tmp.reset_index()

# Создание списка уникальных дат
labels = tmp_reset['purchase_date'].astype(str).unique().tolist()

# Подготовка данных для Quantity
quantity_datasets = []
for product_name, group in tmp_reset.groupby('product_name'):
    quantity_datasets.append({
        "label": product_name,
        "data": group.set_index('purchase_date')['quantity'].reindex(labels, fill_value=0).tolist()
    })

# Подготовка данных для Price
price_datasets = []
for product_name, group in tmp_reset.groupby('product_name'):
    price_datasets.append({
        "label": product_name,
        "data": group.set_index('purchase_date')['price'].reindex(labels, fill_value=0).tolist()
    })

# Формирование финального JSON
chart_data = {
    "quantity": {
        "labels": labels,
        "datasets": quantity_datasets
    },
    "price": {
        "labels": labels,
        "datasets": price_datasets
    }
}

# Вывод JSON в читаемом формате
print(json.dumps(chart_data, indent=4))

{
    "quantity": {
        "labels": [
            "2025-04-01",
            "2025-04-02",
            "2025-04-03",
            "2025-04-04",
            "2025-04-05",
            "2025-04-06",
            "2025-04-07",
            "2025-04-08",
            "2025-04-09",
            "2025-04-11",
            "2025-04-12",
            "2025-04-13",
            "2025-04-14",
            "2025-04-15",
            "2025-04-16",
            "2025-04-17",
            "2025-04-18",
            "2025-04-19",
            "2025-04-20",
            "2025-04-21",
            "2025-04-22",
            "2025-04-23",
            "2025-04-24",
            "2025-04-25",
            "2025-04-26",
            "2025-04-27",
            "2025-04-28",
            "2025-04-29",
            "2025-04-30"
        ],
        "datasets": [
            {
                "label": "\u041a\u0430\u0440\u0442\u043e\u0444\u0435\u043b\u044c",
                "data": [
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    10,
                    0,
                    0,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    0,
                    8,
                    0,
                    0,
                    0,
                    0,
                    0,
                    6,
                    0,
                    0,
                    0,
                    0,
                    7
                ]
            },
            {
                "label": "\u041c\u043e\u043b\u043e\u043a\u043e",
                "data": [
                    2,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0
                ]
            },
            {
                "label": "\u0421\u044b\u0440",
                "data": [
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1
                ]
            },
            {
                "label": "\u0425\u043b\u0435\u0431",
                "data": [
                    1,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0
                ]
            },
            {
                "label": "\u0427\u0430\u0439",
                "data": [
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0
                ]
            },
            {
                "label": "\u042f\u0431\u043b\u043e\u043a\u0438",
                "data": [
                    0,
                    3,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    4,
                    0,
                    0,
                    0,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    0,
                    6,
                    0,
                    0,
                    0,
                    0,
                    0,
                    4,
                    0
                ]
            }
        ]
    },
    "price": {
        "labels": [
            "2025-04-01",
            "2025-04-02",
            "2025-04-03",
            "2025-04-04",
            "2025-04-05",
            "2025-04-06",
            "2025-04-07",
            "2025-04-08",
            "2025-04-09",
            "2025-04-11",
            "2025-04-12",
            "2025-04-13",
            "2025-04-14",
            "2025-04-15",
            "2025-04-16",
            "2025-04-17",
            "2025-04-18",
            "2025-04-19",
            "2025-04-20",
            "2025-04-21",
            "2025-04-22",
            "2025-04-23",
            "2025-04-24",
            "2025-04-25",
            "2025-04-26",
            "2025-04-27",
            "2025-04-28",
            "2025-04-29",
            "2025-04-30"
        ],
        "datasets": [
            {
                "label": "\u041a\u0430\u0440\u0442\u043e\u0444\u0435\u043b\u044c",
                "data": [
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    1
                ]
            },
            {
                "label": "\u041c\u043e\u043b\u043e\u043a\u043e",
                "data": [
                    3,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0,
                    0,
                    0,
                    3,
                    0,
                    0,
                    0
                ]
            },
            {
                "label": "\u0421\u044b\u0440",
                "data": [
                    0,
                    0,
                    0,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    0,
                    5,
                    0,
                    0,
                    0,
                    0,
                    0,
                    5
                ]
            },
            {
                "label": "\u0425\u043b\u0435\u0431",
                "data": [
                    1,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0
                ]
            },
            {
                "label": "\u0427\u0430\u0439",
                "data": [
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    0,
                    6,
                    0,
                    0,
                    0,
                    0,
                    6,
                    0,
                    0,
                    0,
                    0,
                    0,
                    6,
                    0,
                    0,
                    0,
                    0,
                    0,
                    6,
                    0,
                    0,
                    0,
                    0
                ]
            },
            {
                "label": "\u042f\u0431\u043b\u043e\u043a\u0438",
                "data": [
                    0,
                    2,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0,
                    0,
                    0,
                    0,
                    0,
                    2,
                    0
                ]
            }
        ]
    }
}

In [ ]:
# user = pd.read_csv('data/user_1.csv', parse_dates=['real_transaction_dttm'])
# user['real_transaction_dttm'] = user['real_transaction_dttm'].dt.date
# user['loyalty_cashback_category_nm'] = user['loyalty_cashback_category_nm'].apply(lambda x: '{' + str(x) + '}')
# user = user.drop(columns=['account_rk', 'transaction_type_cd'])
# user.columns = ["price", "purchase_date", "tags"]
# user['price'] = user['price'].astype(int)
# user.sample(100).to_csv('data/user_1_capypay.csv', index=False)
# user.head()

In [ ]:
df.head()

,uuid,product_name,quantity,price,purchase_date,tags
id,,,,,,
5825,47823327-2b0f-48c8-9513-614c3ab5d61a,Молоко,2,3,2025-04-01,"{еда,молочные}"
5826,47823327-2b0f-48c8-9513-614c3ab5d61a,Хлеб,1,1,2025-04-01,"{еда,хлебобулочные}"
5827,47823327-2b0f-48c8-9513-614c3ab5d61a,Яблоки,3,2,2025-04-02,"{фрукты,съедобное}"
5828,47823327-2b0f-48c8-9513-614c3ab5d61a,Молоко,1,3,2025-04-03,"{еда,молочные}"
5829,47823327-2b0f-48c8-9513-614c3ab5d61a,Хлеб,2,1,2025-04-04,"{еда,хлебобулочные}"

In [ ]:
tmp = df[df['uuid'] == test_uuid][['quantity', 'price', 'tags', 'purchase_date']]
tmp['tags'] = tmp['tags'].str.strip('{}').str.split(',')
tmp = tmp.explode('tags')

tmp.groupby(['tags', 'purchase_date']).sum().reset_index()

             tags purchase_date  quantity  price
0             еда    2025-04-01         3      4
1             еда    2025-04-03         1      3
2             еда    2025-04-04         3      2
3             еда    2025-04-06         1      5
4             еда    2025-04-08         1      6
..            ...           ...       ...    ...
56  хлебобулочные    2025-04-01         1      1
57  хлебобулочные    2025-04-04         3      2
58  хлебобулочные    2025-04-16         3      1
59  хлебобулочные    2025-04-22         2      1
60  хлебобулочные    2025-04-28         1      1

[61 rows x 4 columns]

In [ ]:
tmp = df[df['uuid'] == test_uuid][['quantity', 'price', 'tags']]
tmp['tags'] = tmp['tags'].str.strip('{}').str.split(',')
tmp = tmp.explode('tags').groupby('tags').sum().reset_index()

tmp

            tags  quantity  price
0            еда        36     73
1       молочные        19     43
2        напитки         7     24
3          овощи        36      5
4      съедобное        63     17
5         фрукты        27     12
6  хлебобулочные        10      6

In [ ]:
df.head()

,uuid,product_name,quantity,price,purchase_date,tags
id,,,,,,
5825,47823327-2b0f-48c8-9513-614c3ab5d61a,Молоко,2,3,2025-04-01,"{еда,молочные}"
5826,47823327-2b0f-48c8-9513-614c3ab5d61a,Хлеб,1,1,2025-04-01,"{еда,хлебобулочные}"
5827,47823327-2b0f-48c8-9513-614c3ab5d61a,Яблоки,3,2,2025-04-02,"{фрукты,съедобное}"
5828,47823327-2b0f-48c8-9513-614c3ab5d61a,Молоко,1,3,2025-04-03,"{еда,молочные}"
5829,47823327-2b0f-48c8-9513-614c3ab5d61a,Хлеб,2,1,2025-04-04,"{еда,хлебобулочные}"

In [ ]:
tmp = df[df['uuid'] == test_uuid][['price', 'purchase_date']]

tmp.groupby(['purchase_date']).sum().reset_index()

   purchase_date  price
0     2025-04-01      4
1     2025-04-02      2
2     2025-04-03      3
3     2025-04-04      2
4     2025-04-05      2
5     2025-04-06      5
6     2025-04-07      1
7     2025-04-08      6
8     2025-04-09      3
9     2025-04-11      2
10    2025-04-12      5
11    2025-04-13      1
12    2025-04-14      6
13    2025-04-15      3
14    2025-04-16      1
15    2025-04-17      2
16    2025-04-18      5
17    2025-04-19      1
18    2025-04-20      6
19    2025-04-21      3
20    2025-04-22      1
21    2025-04-23      2
22    2025-04-24      5
23    2025-04-25      1
24    2025-04-26      6
25    2025-04-27      3
26    2025-04-28      1
27    2025-04-29      2
28    2025-04-30      6

In [19]:
df.head()

,uuid,quantity,price,purchase_date,tags
id,,,,,
5957,47823327-2b0f-48c8-9513-614c3ab5d61a,2,3,2025-04-01,"{еда,молочные}"
5958,47823327-2b0f-48c8-9513-614c3ab5d61a,1,1,2025-04-01,"{еда,хлебобулочные}"
5959,47823327-2b0f-48c8-9513-614c3ab5d61a,3,2,2025-04-02,"{фрукты,съедобное}"
5960,47823327-2b0f-48c8-9513-614c3ab5d61a,1,3,2025-04-03,"{еда,молочные}"
5961,47823327-2b0f-48c8-9513-614c3ab5d61a,2,1,2025-04-04,"{еда,хлебобулочные}"

In [ ]:
tmp = df[df['uuid'] == test_uuid][['quantity', 'price', 'tags', 'purchase_date']]
tmp['tags'] = tmp['tags'].str.strip('{}').str.split(',')
tmp = tmp.explode('tags').groupby(['tags', 'purchase_date']).sum().reset_index()

'{"tags":{"0":"\\u0435\\u0434\\u0430","1":"\\u0435\\u0434\\u0430","2":"\\u0435\\u0434\\u0430","3":"\\u0435\\u0434\\u0430","4":"\\u0435\\u0434\\u0430","5":"\\u0435\\u0434\\u0430","6":"\\u0435\\u0434\\u0430","7":"\\u0435\\u0434\\u0430","8":"\\u0435\\u0434\\u0430","9":"\\u0435\\u0434\\u0430","10":"\\u0435\\u0434\\u0430","11":"\\u0435\\u0434\\u0430","12":"\\u0435\\u0434\\u0430","13":"\\u0435\\u0434\\u0430","14":"\\u0435\\u0434\\u0430","15":"\\u0435\\u0434\\u0430","16":"\\u0435\\u0434\\u0430","17":"\\u0435\\u0434\\u0430","18":"\\u0435\\u0434\\u0430","19":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","20":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","21":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","22":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","23":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","24":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","25":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","26":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","27":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","28":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","29":"\\u043c\\u043e\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","30":"\\u043d\\u0430\\u043f\\u0438\\u0442\\u043a\\u0438","31":"\\u043d\\u0430\\u043f\\u0438\\u0442\\u043a\\u0438","32":"\\u043d\\u0430\\u043f\\u0438\\u0442\\u043a\\u0438","33":"\\u043d\\u0430\\u043f\\u0438\\u0442\\u043a\\u0438","34":"\\u043e\\u0432\\u043e\\u0449\\u0438","35":"\\u043e\\u0432\\u043e\\u0449\\u0438","36":"\\u043e\\u0432\\u043e\\u0449\\u0438","37":"\\u043e\\u0432\\u043e\\u0449\\u0438","38":"\\u043e\\u0432\\u043e\\u0449\\u0438","39":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","40":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","41":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","42":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","43":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","44":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","45":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","46":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","47":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","48":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","49":"\\u0441\\u044a\\u0435\\u0434\\u043e\\u0431\\u043d\\u043e\\u0435","50":"\\u0444\\u0440\\u0443\\u043a\\u0442\\u044b","51":"\\u0444\\u0440\\u0443\\u043a\\u0442\\u044b","52":"\\u0444\\u0440\\u0443\\u043a\\u0442\\u044b","53":"\\u0444\\u0440\\u0443\\u043a\\u0442\\u044b","54":"\\u0444\\u0440\\u0443\\u043a\\u0442\\u044b","55":"\\u0444\\u0440\\u0443\\u043a\\u0442\\u044b","56":"\\u0445\\u043b\\u0435\\u0431\\u043e\\u0431\\u0443\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","57":"\\u0445\\u043b\\u0435\\u0431\\u043e\\u0431\\u0443\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","58":"\\u0445\\u043b\\u0435\\u0431\\u043e\\u0431\\u0443\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","59":"\\u0445\\u043b\\u0435\\u0431\\u043e\\u0431\\u0443\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435","60":"\\u0445\\u043b\\u0435\\u0431\\u043e\\u0431\\u0443\\u043b\\u043e\\u0447\\u043d\\u044b\\u0435"},"purchase_date":{"0":1743465600000,"1":1743638400000,"2":1743724800000,"3":1743897600000,"4":1744070400000,"5":1744156800000,"6":1744416000000,"7":1744588800000,"8":1744675200000,"9":1744761600000,"10":1744934400000,"11":1745107200000,"12":1745193600000,"13":1745280000000,"14":1745452800000,"15":1745625600000,"16":1745712000000,"17":1745798400000,"18":1745971200000,"19":1743465600000,"20":1743638400000,"21":1743897600000,"22":1744156800000,"23":1744416000000,"24":1744675200000,"25":1744934400000,"26":1745193600000,"27":1745452800000,"28":1745712000000,"29":1745971200000,"30":1744070400000,"31":1744588800000,"32":1745107200000,"33":1745625600000,"34":1743984000000,"35":1744502400000,"36":1745020800000,"37":1745539200000,"38":1745971200000,"39":1743552000000,"40":1743811200000,"41":1743984000000,"42":1744329600000,"43":1744502400000,"44":1744848000000,"45":1745020800000,"46":1745366400000,"47":1745539200000,"48":1745884800000,"49":1745971200000,"50":1743552000000,"51":1743811200000,"52":1744329600000,"53":1744848000000,"54":1745366400000,"55":1745884800000,"56":1743465600000,"57":1743724800000,"58":1744761600000,"59":1745280000000,"60":1745798400000},"quantity":{"0":3,"1":1,"2":3,"3":1,"4":1,"5":3,"6":2,"7":2,"8":1,"9":3,"10":1,"11":1,"12":2,"13":2,"14":2,"15":3,"16":3,"17":1,"18":1,"19":2,"20":1,"21":1,"22":3,"23":2,"24":1,"25":1,"26":2,"27":2,"28":3,"29":1,"30":1,"31":2,"32":1,"33":3,"34":10,"35":5,"36":8,"37":6,"38":7,"39":3,"40":5,"41":10,"42":4,"43":5,"44":5,"45":8,"46":6,"47":6,"48":4,"49":7,"50":3,"51":5,"52":4,"53":5,"54":6,"55":4,"56":1,"57":3,"58":3,"59":2,"60":1},"price":{"0":4,"1":3,"2":2,"3":5,"4":6,"5":3,"6":5,"7":6,"8":3,"9":1,"10":5,"11":6,"12":3,"13":1,"14":5,"15":6,"16":3,"17":1,"18":5,"19":3,"20":3,"21":5,"22":3,"23":5,"24":3,"25":5,"26":3,"27":5,"28":3,"29":5,"30":6,"31":6,"32":6,"33":6,"34":1,"35":1,"36":1,"37":1,"38":1,"39":2,"40":2,"41":1,"42":2,"43":1,"44":2,"45":1,"46":2,"47":1,"48":2,"49":1,"50":2,"51":2,"52":2,"53":2,"54":2,"55":2,"56":1,"57":2,"58":1,"59":1,"60":1}}'